.project-list {
  margin-top: 10px;
}

.project-form {
  margin-bottom: var(--gen-spacing);
}

.project-input {
  width: 100%;
  padding: var(--gen-spacing);
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--main-bg-color);
  outline: none;
  font-size: 1rem;
  color: var(--main-bg-color);
}

.project-item {
  text-transform: capitalize;
  padding: var(--gen-spacing);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-item > div {
  display: flex;
  align-items: center;
  gap: var(--gen-spacing);
}

.project-item > button {
  height: 24px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}