@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --body-bg-color: #e1e3ea;
  --main-bg-color: #f1f1f6;
  --accent-color: #484b57;
  --main-app-fonts: "Roboto", "Helvetica", "Tahoma", sans-serif;
  --gen-spacing: 5px;
  --header-height: 40px;
  font-family: var(--main-app-fonts);
  font-size: 18px;
}

body {
  padding: var(--gen-spacing);
  background-color: var(--body-bg-color);
  display: grid;
  gap: var(--gen-spacing);
  grid-template-columns: minmax(0, 200px) minmax(100px, 1000px);
  justify-content: center;
}

.sidebar,
.main {
  height: calc(100vh - var(--gen-spacing) * 2);
}

.sidebar {
  padding: calc(2 * var(--gen-spacing));
  border-radius: 5px;
  background-color: var(--accent-color);
  color: var(--body-bg-color);
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.logo-wrapper {
  margin-bottom: 50px;
  display: flex;
  justify-content: flex-start;
}

.all-projects {
  margin-bottom: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}

.all-projects::before {
  content: url(./asterisk.svg);
  vertical-align: -15%;
}

.main {
  padding: calc(2 * var(--gen-spacing));
  background-color: var(--main-bg-color);
  border-radius: 5px;
}

.page-title {
  font-size: 1.4rem;
}

.new-project {
  display: flex;
  align-items: center;
  gap: var(--gen-spacing);
  cursor: pointer;
}