.todo-form {
  padding: calc(2 * var(--gen-spacing));
  background-color: white;
  border: 1px solid #dfdfdf;
  border-radius: var(--gen-spacing);
  display: flex;
  flex-direction: column;
  gap: var(--gen-spacing);
}

.todo-form input,
.todo-form textarea,
.todo-form select {
  background-color: transparent;
  border: 1px solid #afafaf;
  border-radius: var(--gen-spacing);
  padding: var(--gen-spacing);
  outline: none;
  font-family: var(--main-app-fonts);
}

textarea {
  resize: none;
}

.form-top {
  display: grid;
  gap: var(--gen-spacing);
  margin-bottom: calc(2 * var(--gen-spacing));
  grid-template-rows: 1fr 2fr;
}

.form-top .title-input {
  border: none;
  font-size: 1rem;
  font-weight: bold;
}

.form-top .description-input {
  border: none;
  border-radius: var(--gen-spacing);
}

.form-top .description-input:focus {
  border: 1px solid #afafaf;
}

.form-bottom {
  display: flex;
  gap: var(--gen-spacing);
}

.form-bottom button,
.form-bottom select {
  padding: var(--gen-spacing);
  font-size: 0.9rem;
  color: #606368;
  text-align: center;
  border: 1px solid #afafaf;
  border-radius: var(--gen-spacing);
}

.form-bottom .date-button {
  background-color: white;
}

.form-bottom .priority-select {
  appearance: none;
}